@media (max-width: 1100px) {
  .container {
    padding: 0 15px; }
  .header,
  .header::before,
  .header-body {
    height: 90px; }
  .main__title {
    font-size: 36px;
    padding: 130px 0px 10px 0px; }
  .main__text {
    font-size: 24px; }
  .main-btn {
    padding: 55px 0px 180px 0px; }
    .main-btn__link {
      padding: 12px 35px;
      font-size: 23px; }
  .section-title {
    padding: 80px 0px 0px 0px;
    font-size: 30px; }
    .section-title__subtitle {
      font-size: 20px;
      margin: 10px 0px 0px 0px; }
  .section-title::after {
    content: "";
    margin: 10px auto 45px; }
  .about__item {
    padding: 0px 15px; }
  .about__body h3 {
    font-size: 18px; }
  .step__image {
    width: 341px; }
  .step__body p {
    line-height: 1.5; }
  .step__label {
    left: 340px;
    padding: 15px 30px;
    line-height: 1; }
    .step__label span {
      font-size: 50px; } }

@media (max-width: 960px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px; }
  .header-btn__link {
    padding: 8px 20px; }
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu li {
    padding: 0px 15px; }
  .menu__list li:first-child {
    background: none; }
  .menu__list li:last-child {
    padding: 0px 20px 0px 15px; }
  .main__title {
    font-size: 36px;
    padding: 130px 0px 10px 0px; }
  .main__text {
    font-size: 24px; }
  .main-btn {
    padding: 45px 0px 160px 0px; }
    .main-btn__link {
      padding: 12px 35px;
      font-size: 18px; }
  .section-title {
    padding: 80px 0px 0px 0px;
    font-size: 24px; }
    .section-title__subtitle {
      font-size: 18px; }
  .step__img {
    width: 300px; }
  .step__image {
    width: 300px; }
    .step__image img {
      max-width: 100%; }
  .step__body {
    padding: 45px 15px 10px 50px; }
    .step__body p {
      line-height: 1.5; }
  .step__label {
    position: absolute;
    top: 50%;
    left: 300px;
    padding: 10px 20px;
    margin: -45px; }
    .step__label p {
      font-size: 20px; }
    .step__label span {
      font-size: 40px; }
  .step:nth-child(even) .step__body {
    padding: 45px 55px 10px 15px; }
  .step:nth-child(even) .step__label {
    left: 0; }
  .step:nth-child(even) .step__image img {
    right: 0; } }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .header,
  .header::before,
  .header-body {
    height: 60px; }
  .header {
    position: fixed; }
  .header::before {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3; }
  .header__burger span {
    position: absolute;
    background-color: #b7231d;
    border-radius: 2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #b7231d;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px; }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 70px 10px 20px 10px; }
  .menu.active {
    top: 60px; }
  .menu__list {
    display: block; }
  .menu__list li {
    margin: 0px 0px 20px 0px;
    background: none; }
  .header__link {
    font-size: 18px; }
  .header-btn {
    display: none; }
  .main__title {
    font-size: 34px;
    padding: 130px 0px 10px 0px; }
  .main__text {
    font-size: 20px; }
  .main-btn {
    padding: 45px 0px 100px 0px; }
    .main-btn__link {
      padding: 10px 30px; }
  .section-title {
    padding: 60px 0px 0px 0px;
    font-size: 22px; }
    .section-title__subtitle {
      font-size: 16px;
      margin: 10px 0px 0px 0px; }
  .section-title::after {
    width: 37px;
    height: 3px; }
  .about__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px 10px 0px; }
  .about__item {
    width: 100%;
    padding: 0px 100px 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about__img img {
    width: 50px; }
  .about__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .about__body h3 {
      font-size: 16px;
      padding: 15px 0px 10px 0px; }
    .about__body p {
      font-size: 14px;
      line-height: 1.2; }
  .approch {
    padding-bottom: 20px; }
  .steps {
    width: 100%; }
  .step__img {
    width: 200px; }
  .step__image {
    width: 200px; }
    .step__image img {
      max-width: 100%; }
  .step__body {
    padding: 15px 10px 0px 30px; }
    .step__body h4 {
      font-size: 16px;
      margin-bottom: 5px; }
    .step__body p {
      font-size: 14px;
      line-height: 1.2; }
  .step__label {
    left: 200px;
    padding: 5px 10px;
    margin: -24px; }
    .step__label p {
      font-size: 12px; }
    .step__label span {
      font-size: 20px; }
  .step:nth-child(even) .step__body {
    padding: 15px 30px 0px 10px; }
  .step:nth-child(even) .step__label {
    left: 0; }
  .step:nth-child(even) .step__image img {
    right: 0; } }
