@media (max-width: 1100px) {
  .container {
    padding: 0 15px;
  }

  .header,
  .header::before,
  .header-body {
    height: 90px;
  }

  .main {


    &__title {
      font-size: 36px;
      padding: 130px 0px 10px 0px;
    }

    &__text {
      font-size: 24px;
    }
  }

  .main-btn {
    padding: 55px 0px 180px 0px;

    &__link {
      padding: 12px 35px;
      font-size: 23px;
    }
  }

  .section-title {
    padding: 80px 0px 0px 0px;
    font-size: 30px;

    &__subtitle {
      font-size: 20px;
      margin: 10px 0px 0px 0px;
    }
  }

  .section-title::after {
    content: "";
    margin: 10px auto 45px;
  }

  // =====================================ABOUT================================
  .about {
    &__item {
      padding: 0px 15px;
    }

    &__body {
      h3 {
        font-size: 18px;
      }
    }
  }

  // ===================================STEPS==============

  .step {
    &__image {
      width: 341px;
    }

    &__body {

      p {
        line-height: 1.5;
      }
    }

    &__label {
      left: 340px;
      padding: 15px 30px;
      line-height: 1;

      span {
        font-size: 50px;
      }
    }
  }
}



// =========================================960===========
@media (max-width:960px) {
  .logo {
    flex: 0 0 170px;
  }

  .header-btn {
    &__link {
      padding: 8px 20px;
    }
  }

  .menu {
    &__list {
      justify-content: center;
    }

    & li {
      padding: 0px 15px;
    }
  }

  .menu__list li:first-child {
    background: none;
  }

  .menu__list li:last-child {
    padding: 0px 20px 0px 15px;
  }

  .main {


    &__title {
      font-size: 36px;
      padding: 130px 0px 10px 0px;
    }

    &__text {
      font-size: 24px;
    }
  }

  .main-btn {
    padding: 45px 0px 160px 0px;

    &__link {
      padding: 12px 35px;
      font-size: 18px;
    }
  }

  .section-title {
    padding: 80px 0px 0px 0px;
    font-size: 24px;

    &__subtitle {
      font-size: 18px;
    }
  }

  .step {

    &__img {
      width: 300px;
    }

    &__image {
      width: 300px;

      img {
        max-width: 100%;
      }
    }

    &__body {
      padding: 45px 15px 10px 50px;

      p {
        line-height: 1.5;
      }
    }

    &__label {
      position: absolute;
      top: 50%;
      left: 300px;
      padding: 10px 20px;
      margin: -45px;

      p {
        font-size: 20px;
      }

      span {
        font-size: 40px;
      }
    }
  }

  .step:nth-child(even) {


    .step__body {
      padding: 45px 55px 10px 15px;

    }

    .step__label {
      left: 0;

    }

    .step__image img {
      right: 0;
    }
  }

}



// ========================================767

@media (max-width:767px) {

  // ========================burger
  body.lock {
    overflow: hidden;
  }

  .header,
  .header::before,
  .header-body {
    height: 60px;
  }

  .header {
    position: fixed;
  }

  .header::before {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #b7231d;
    border-radius: 2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #b7231d;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
  }

  .menu.active {
    top: 60px;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
    background: none;
  }

  .header__link {
    font-size: 18px;
  }

  .header-btn {
    display: none;
  }

  // ===================
  .main {


    &__title {
      font-size: 34px;
      padding: 130px 0px 10px 0px;
    }

    &__text {
      font-size: 20px;
    }
  }

  .main-btn {
    padding: 45px 0px 100px 0px;

    &__link {
      padding: 10px 30px;
    }
  }

  .section-title {
    padding: 60px 0px 0px 0px;
    font-size: 22px;

    &__subtitle {
      font-size: 16px;
      margin: 10px 0px 0px 0px;
    }
  }

  .section-title::after {
    width: 37px;
    height: 3px;
  }

  .about {
    &__items {
      justify-content: center;
      flex-direction: column;
      padding: 0px 0px 10px 0px;
    }

    &__item {
      width: 100%;
      padding: 0px 100px 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    &__img img {
      width: 50px;
    }

    &__body {
      flex: 1 1 auto;

      h3 {
        font-size: 16px;
        padding: 15px 0px 10px 0px;
      }

      p {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }

  .approch {
    padding-bottom: 20px;
  }

  .steps {
    width: 100%;
  }

  .step {

    &__img {
      width: 200px;
    }

    &__image {
      width: 200px;

      img {
        max-width: 100%;
      }
    }

    &__body {
      padding: 15px 10px 0px 30px;

      h4 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    &__label {
      left: 200px;
      padding: 5px 10px;
      margin: -24px;

      p {
        font-size: 12px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .step:nth-child(even) {


    .step__body {
      padding: 15px 30px 0px 10px;

    }

    .step__label {
      left: 0;

    }

    .step__image img {
      right: 0;
    }
  }
}

@media (max-width:540px) {
  .main {}
}