@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: local("☺"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"),
    url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora-Bold.eot");
  src: local("☺"), url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.ttf") format("truetype"),
    url("../fonts/Lora-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  // color: #424242;
  color: #5b5b5b;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Roboto-Bold";
  font-weight: 700;
  color: #424242;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

// h2 {
//   font-size: 36px;
// }
.section-title {
  text-align: center;
  padding: 100px 0px 0px 0px;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-size: 36px;

  &__subtitle {
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
  }
}

.section-title::after {
  content: "";
  display: block;
  margin: 10px auto 45px;
  background-color: #424242;
  width: 47px;
  height: 5px;
}

// ============================HEADER===================================




.header {
  // background-color: #fff;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #fff;
  z-index: 2;
}


.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}


.logo {
  flex: 0 0 235px;
  z-index: 3;

  &__img {
    max-width: 100%;
    display: block;
  }
}

// ===========================burger===========================
.header__burger {
  display: none;
}

// ========================================menu========================
.menu {
  flex: 1 1 auto;
  z-index: 3;

  &__list {
    position: relative;
    display: flex;
    justify-content: flex-end;

    & li {
      background: url(../img/dot.png) 0 50% no-repeat;
      padding: 0px 20px;
    }

    & a:hover {
      color: #de2b24;
    }
  }
}

.menu__list li:first-child {
  background: none;
}

.menu__list li:last-child {
  padding: 0px 30px 0px 20px;
}

a {
  font-size: 15px;
}

.header-btn {
  z-index: 3;
  margin-right: 15px;

  &__link {
    background-color: #de2b24;
    color: #fff;

    padding: 8px 26px;
    border-radius: 3px;
  }

  &__link:hover {
    background-color: #b7231d;
  }
}

// =========================MAIN==============================================
.main {
  background-image: url(../img/bg2.jpg);
  background-position: center top;
  background-size: cover;
  color: #fff;
  text-align: center;

  &__title {
    color: #fff;
    font-size: 48px;
    padding: 185px 0px 10px 0px;
  }

  &__text {
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 30px;
  }
}

.main-btn {
  padding: 55px 0px 255px 0px;

  &__link {
    padding: 18px 45px;
    border-radius: 3px;
    background-color: #f8cd53;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
  }

  &__link:hover {
    background-color: #ab8824;
  }
}

// =====================================ABOUT================================
.about {
  &__items {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 100px 0px;
  }

  &__item {
    width: 280px;
    padding: 0px 15px;
    text-align: center;
  }

  &__img {
    width: 100%;
  }

  &__body {
    h3 {
      font-size: 22px;
      padding: 25px 0px 10px 0px;
    }

    p {
      line-height: 1.5;
    }
  }
}

// ===================================STEPS================================
.approch {
  background-color: #f3f3f3;
  padding-bottom: 90px;
}

.step {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 40px;
  position: relative;

  &__img {
    position: relative;
    width: 341px;
  }

  &__image {
    width: 341px;
  }

  &__body {
    padding: 70px 70px 70px 85px;

    h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      line-height: 1.5;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 340px;
    padding: 15px 30px;
    background-color: #de2b24;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin: -53px;
    text-align: center;
    line-height: 1;

    p {
      font-size: 20px;
    }

    span {
      font-family: "Lora-Bold";
      font-weight: 700;
      font-size: 50px;
    }
  }
}

.step:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;

  .step__body {
    padding: 70px 85px 70px 70px;
  }

  .step__image {
    max-width: 341px;
  }

  .step__label {

    left: 0;
  }
}

// ================================WORKS====================================
.works {
  background-color: #dd2a24;
}

.works-title {
  text-align: center;
  padding: 100px 0px 0px 0px;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-size: 36px;

  h2 {
    color: #fff;
  }

  &__subtitle {
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    color: #fff;
  }
}

.works-title::after {
  content: "";
  display: block;
  margin: 10px auto 45px;
  background-color: #fff;
  width: 47px;
  height: 5px;
}


.work-row {
  display: flex;
  flex: 1 1 auto;

  &_reverse {
    display: flex;
    padding-bottom: 128px;
  }

}

.work {
  display: flex;
  flex: 1 1 auto;
  background-color: #f35e59;

  &_reverse {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    background-color: #f35e59;
  }
}

.work-name {
  // background-color: #f35e59;
  max-width: 256px;
  text-align: center;
  color: #fff;

  h3 {
    font-size: 26px;
    color: #fff;
    // 
  }

  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }
}

.work-icon {
  padding: 74px 0px 10px 0px;
}

.work-image {
  width: 256px;

  img {
    max-width: 100%;
  }
}




@import "media.scss";